<figure
  style="display: block; height: 60%; width: 40%; margin-left: auto; margin-right: auto;"
>
  <canvas
    id="yes"
    baseChart
    [datasets]="pieChartData"
    [labels]="pieChartLabels"
    [options]="pieChartOptions"
    [legend]="pieChartLegend"
    [chartType]="pieChartType"
  >
  </canvas>
</figure>
<figure
  style="display: block; height: 60%; width: 40%; margin-left: auto; margin-right: auto;"
>
  <canvas
    id="no"
    baseChart
    [datasets]="recentData"
    [labels]="recentLabels"
    [options]="recentOptions"
    chartType="pie"
  >
  </canvas>
</figure>
<div id="outer">
  <mat-form-field color="warn">
    <mat-label style="color: white">Start Date</mat-label>
    <input
      [(ngModel)]="start"
      style="color: white"
      matInput
      [matDatepicker]="picker"
    />
    <mat-datepicker-toggle
      style="color: white"
      matSuffix
      [for]="picker"
    ></mat-datepicker-toggle>
    <mat-datepicker style="color:white" #picker> </mat-datepicker>
  </mat-form-field>
  <mat-form-field color="warn" style="margin-left: 25px">
    <mat-label style="color: white">End Date</mat-label>
    <input
      [(ngModel)]="end"
      style="color: white"
      matInput
      [matDatepicker]="picker2"
    />
    <mat-datepicker-toggle
      style="color: white"
      matSuffix
      [for]="picker2"
    ></mat-datepicker-toggle>
    <mat-datepicker style="color:white" #picker2> </mat-datepicker>
  </mat-form-field>
  <button
    type="button"
    class="btn btn-outline-light"
    style="margin-left: 20px"
    (click)="searchBetweenDates()"
  >
    Search By Date
  </button>
  <button
    type="button"
    class="btn btn-outline-light"
    style="margin-left: 20px;"
    (click)="reset()"
  >
    Reset Charts
  </button>
</div>
<!-- <div style="display: inline-block">
  <button
    type="button"
    class="btn btn-outline-light"
    style="display: block; margin-left: auto; margin-right: auto;"
    (click)="reset()"
  >
    Reset
  </button>
  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="dp"
          [(ngModel)]="model"
          ngbDatepicker
          #dp="ngbDatepicker"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary calendar"
            (click)="d.toggle()"
            type="button"
          ></button>
        </div>
      </div>
    </div>
  </form>
  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="dp2"
          [(ngModel)]="model2"
          ngbDatepicker
          #dp2="ngbDatepicker2"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary calendar"
            (click)="d.toggle()"
            type="button"
          ></button>
        </div>
      </div>
    </div>
  </form>
  <button
    type="button"
    class="btn btn-outline-light"
    style="display: block; margin-left: auto; margin-right: auto;"
  >
    Search By Date
  </button>
  <pre style="color:white">Model: {{ model | json }}</pre>
</div> -->
