<div
  style="display: block; margin-left: auto; margin-right: auto; margin-top: 40px;"
>
  <google-chart
    #chart
    [title]="title"
    [type]="type"
    [data]="data"
    [columnNames]="columnNames"
    style="display: block; margin-left: auto; margin-right: auto;"
  >
  </google-chart>
</div>
<div id="outer">
  <div class="inner">
    <button
      type="button"
      class="btn btn-outline-light"
      style="display: block; margin-left: 15px ; margin-right: 15px; margin-top: 50px"
    >
      Service
    </button>
  </div>
  <div class="inner">
    <button
      type="button"
      class="btn btn-outline-light"
      style="display: block; margin-left: 15px ; margin-right: 15px; margin-top: 50px"
    >
      Status
    </button>
  </div>
  <div class="inner">
    <button
      type="button"
      class="btn btn-outline-light"
      style="display: block; margin-left: 15px ; margin-right: 15px; margin-top: 50px"
    >
      Date
    </button>
  </div>
</div>
